body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/212/992/small/comic-book-pop-art-strip.jpg");
    background-size: cover;
  }
  
  .container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input[type="url"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 20px;
  }
  
  .hidden {
    display: none;
  }
  .socialIcons{
      
      img {
        
        width: 30px; /* Adjust the size as needed */
        height: 30px;
        filter: grayscale(100%) brightness(80%);
      }

      img:hover {
        transform: scale(1.1);
        filter: grayscale(1%) brightness(100%);
        transition: $transition;
      
      }
  }